@use './variables' as *;

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1510px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(100%/12*4);
}

.col-3{
    width: calc(100%/12*3);
}

.col-6{
    width: calc(100%/12*6);
}