@use './variables' as *;

@mixin btn-artist{
    border-radius: 8px;
    background-color: $app-orange;
    color: $app-white;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    &:hover{
        background-color: $app-lightblue;
        color: $app-white;    
    }
}


@mixin btn-artist-light{
    border-radius: 8px;
    background-color: #FDF0EA;
    color: $app-orange;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    &:hover{
        background-color: $app-orange;
        color: $app-white;
    }
}


@mixin card-base{
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
}